body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1000;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff6347;
    text-decoration: underline;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }
    
    nav ul.show {
        display: flex;
    }
    
    nav .menu-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        padding: 1rem;
        text-align: right;
    }
}

@media (min-width: 769px) {
    nav .menu-toggle {
        display: none;
    }
}

main {
    flex: 1;
}

section {
    margin: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
}

.image-showcase {
    display: flex;
    align-items: flex-start;
}

.main-image {
    flex: 0;
    margin-right: 1rem;
}

.main-image img {
    width: 516px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px; 
    background-color: white;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align thumbnails to the start */
}

.thumbnails img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    transition: transform 0.2s;
}

.thumbnails img:hover {
    transform: scale(1.1);
}

.banner-container {
    position: relative;

    text-align: left;
}

.banner {
    width: 100%;
    max-width: 600px;  /* Adjust the max-width as needed */
    margin: 0 auto;  /* Center the banner */
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;  /* Adjust the font size as needed */
    font-weight: bold;
    margin: 0;
}


.content-container, .work-experience {
    margin-top: 2rem;
}

.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.experience-item .logo {
    flex: 0 0 100px;
    margin-right: 1rem;
    display: block;
}

.experience-item .logo img {
    max-width: 100px;
    height: auto;
}

.experience-item .details {
    flex: 1;
}


.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0rem;  /* Adds space between each contact item */
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 0.5rem;  /* Adds space between icon and text */
    margin: 0;  /* Remove any default margin */
    padding: 0;  /* Remove any default padding */
}

.contact-icon {
    width: 24px;  /* Set the size of the icon */
    height: 24px;  /* Set the size of the icon */
    margin: 0rem;  /* Remove any default margin */
    padding: 0;  /* Remove any default padding */
}

.skills-icon {
    width: auto;  /* Set the size of the icon */
    height: 100px;  /* Set the size of the icon */
    margin: 0rem;  /* Remove any default margin */
    padding: 4px;  /* Remove any default padding */
}

.contact-info a {
    text-decoration: none;
    color: #002fff;  /* Set link color */
}

.contact-info a:hover {
    text-decoration: underline;
}

#game {
    display: grid;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
    gap: 1px;
}

.cell {
    width: 10px;
    height: 10px;
    background-color: #ccc;
}

.cell.alive {
    background-color: #333;
}